@import "tailwindcss";

.typing-indicator span {
  height: 8px;
  width: 8px;
  background-color: #9E9EA1;
  border-radius: 50%;
  display: inline-block;
  animation: a 1.2s infinite ease-in-out both;
  margin: 0 2px;
}

.typing-indicator span:nth-of-type(1) {
  animation-delay: -0.2s;
}

.typing-indicator span:nth-of-type(2) {
  animation-delay: -0.1s;
}

@keyframes a {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}